* {
    padding: 0;
    margin: 0;
}

.frame {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #e5e5e5;
}

.main-frame {
    position: relative;
    width: 1440px;
    height: 1312px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2px;
    /* background-color: #c0eb77;  */
}

.main-frame .left-frame {
    position: relative;
    width: 305px;
    height: 1315px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.main-frame .left-frame .left-1 {
    position: relative;
    width: 228px;
    height: 253px;
    margin-top: 50px;
    margin-left: 37px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-frame .left-frame .marginer {
    position: relative;
    width: 220px;
    height: 0;
    margin-left: 40px;
    margin-bottom: 25px;
    margin-top: 39px;
    border: 1.5px solid #f0f0f6;
}

.main-frame .left-frame .left-1 .left-1-1 {
    position: relative;
    flex-direction: column;
    position: center;
    width: 156.164px;
    height: 135.053px;
    margin-bottom: 26.96px;
}

.main-frame .left-frame .left-1 .left-1-2 {
    position: relative;
    font-family: sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 123.6%;
    text-transform: capitalize;
    display: flex;
    width: 64px;
    height: 20.846px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2B2B2B;
}

.main-frame .left-frame .left-1 .left-1-3 {
    position: relative;
    font-family: sans-serif;
    display: flex;
    width: 147.836px;
    height: 24.31px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #767676;
    font-feature-settings: 'calt' off;

    /* Paragraph Progress - 15 */
    font-family: sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    text-transform: capitalize;
}

.main-frame .left-frame .left-1 .left-icons {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 238px;
    margin-top: 19px;
}

.main-frame .left-frame .left-1 .left-icons .link-href {
    text-decoration: none;
    color: black;
}

.icon {
    position: relative;
    width: 24.99px;
    height: 22.8px;
    border-radius: 50%;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
    background: #ffb400;
}

.icon-1 {
    position: relative;
    left: 19.17%;
    right: 29.08%;
    margin-bottom: 3px;
}

/* LEFT 1 end */

.main-frame .left-frame .left-2 {
    position: relative;
    width: 221px;
    height: 126px;
    margin-left: 44px;    
}

.main_frame .left_frame .left-2 .left-2-1 {
    width: 221px;
    height: 25px;
    flex-shrink: 0;
}

.txt-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.marked-1 {
    background: var(--Yellow, #FFB400);
    width: 46.209px;
    height: 24px;
    flex-shrink: 0;
    color: var(--Black, #2B2B2B);
    font-kerning: none;
    font-feature-settings: 'calt' off;
    margin-top: 0px;
    /* Paragraph Progress - 15 */
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    text-transform: capitalize;
}

.txt-1 {
    color: var(--Black, #2B2B2B);
    text-align: right;
    font-kerning: none;
    font-feature-settings: 'calt' off;
    
    /* Paragraph Progress - 15 */
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    text-transform: capitalize;
    margin-top: 0px;
}

.marked-2 {
    background: var(--Yellow, #FFB400);
    width: 89px;
    height: 24px;
    flex-shrink: 0;
    color: var(--Black, #2B2B2B);
    font-kerning: none;
    font-feature-settings: 'calt' off;
    margin-top: 10px;
    /* Paragraph Progress - 15 */
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    text-transform: capitalize;
}

.txt-2 {
    color: var(--Black, #2B2B2B);
    text-align: right;
    font-kerning: none;
    font-feature-settings: 'calt' off;
    
    /* Paragraph Progress - 15 */
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    text-transform: capitalize;
    margin-top: 10px;

}

.marked-3 {
    background: var(--Yellow, #FFB400);
    width: 85px;
    height: 24px;
    flex-shrink: 0;
    color: var(--Black, #2B2B2B);
    font-kerning: none;
    font-feature-settings: 'calt' off;
    margin-top: 0px;
    /* Paragraph Progress - 15 */
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    text-transform: capitalize;
}

.txt-3 {
    color: var(--Available, #7EB942);
    text-align: right;
    font-kerning: none;
    font-feature-settings: 'calt' off;

    /* Paragraph Progress - 15 */
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    text-transform: capitalize;
    margin-top: 0px;
}

.marked-4 {
    background: var(--Yellow, #FFB400);
    width: 75px;
    height: 24px;
    flex-shrink: 0;
    color: var(--Black, #2B2B2B);
    font-kerning: none;
    font-feature-settings: 'calt' off;
    margin-top: 0px;
    /* Paragraph Progress - 15 */
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    text-transform: capitalize;
}

.txt-4 {
    color: var(--Black, #2B2B2B);
    text-align: right;
    font-kerning: none;
    font-feature-settings: 'calt' off;
    
    /* Paragraph Progress - 15 */
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    text-transform: capitalize;
    margin-top: 0px;
}


/* LEFT 2 end */

.main-frame .left-frame .left-3 {
    position: relative;
    width: 220px;
    height: 153px;
    margin-top: 25;
    margin-left: 45px;
    /* background-color: aqua; */
}

.left-3-header {
    color: var(--Black, #2B2B2B);

    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 123.6%; /* 22.248px */
    text-transform: capitalize;
    margin-bottom: 20px;
}

.left-3-lang {
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
    align-items: center;
    width: 220px;
    height: 24px;
    flex-shrink: 0;
}

.left-3-lang p {
    color: #767676;
    font-kerning: none;
    font-feature-settings: 'calt' off;
    
    /* Paragraph Progress - 15 */
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    text-transform: capitalize;
}

.left-3-1 img {
    width: 530px;
    height: 4px;
    flex-shrink: 0;
    margin-left: -220px;
}


/* LEFT 3 end */

.main-frame .left-frame .left-4 {
    position: relative;
    width: 220px;
    height: 252px;
    margin-left: 44px;
    margin-top: 25;
    margin-left: 45px;
    /* background-color: aqua; */
}

.left-4-header {
    color: var(--Black, #2B2B2B);

    /* H4 - 18px */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 123.6%; /* 22.248px */
    text-transform: capitalize;
}

.left-4-lang {
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
    align-items: center;
    width: 220px;
    height: 24px;
    flex-shrink: 0;
}

.left-4-lang p {
    color: var(--Paragraph-Font, #767676);
    font-kerning: none;
    font-feature-settings: 'calt' off;
    
    /* Paragraph Progress - 15 */
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 160% */
    text-transform: capitalize;
}

.left-4-1 img {
    width: 530px;
    height: 4px;
    flex-shrink: 0;
    margin-left: -216px;
}

/* LEFT 4 end */

.main-frame .left-frame .left-5 {
    position: relative;
    width: 186px;
    height: 148px;
    margin-left: 44px;
    margin-top: 25;
    margin-left: 45px;
    /* background-color: aqua; */
}

.main-frame .left-frame-5-skills {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    color: rgb(118, 118, 118);
    position: relative;
    
   
}
.main-frame .left-5 .extra-skills-header {
    color: var(--Black, #2B2B2B);

    /* H4 - 18px */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 123.6%; /* 22.248px */
    text-transform: capitalize;
}

.main-frame .left-frame-5-skills img {
    margin-right: 10px;
}

/* LEFT 5 end */

/*--- MIDD FRAME start-------- */

.main-frame .midd-frame {
    position: relative;
    width: 970px;
    height: 1259px;
    margin-left: 30px;
    margin-right: 27px;
    display: flex;
    flex-direction: column;
}

/* Middle Frame - 1 */

.main-frame .midd-frame-1 {
    background-image: url("images/midd-background-image.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 480px;
    position: relative;
    display: flex;
    align-items: center;
}

.main-frame .midd-frame-1-intro {
    padding-left: 56px;
}

.midd-frame-1-intro .intro-title {
    width: 499.51px;
    font-weight: 700;
    font-size: 48px;
    color: rgb(43, 43, 43);
}

.midd-frame-1-intro .intro-desc {
    width: 425px;
    font-size: 16px;
    font-weight: 400;
    color: rgb(118, 118, 118);
    padding: 17px 0 23px 0;
    text-transform: capitalize; 
}

.midd-frame-1-intro .intro-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background: #FFB400;
    width: 154px;
    height: 49px;
    border: none;
    border-radius: 5px;
    padding-top: 2px;
}

.midd-frame-1-intro .intro-btn-text {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(43, 43, 43);
    padding-right: 10px;
    padding-top: 10px;
}


/* Midd Frame 2 */

.main-frame .midd-frame-2 {
    color: rgb(43, 43, 43);
    text-align: center;
    text-transform: capitalize;
    position: relative;
    height: 653px;
    padding-top: 100px;
    position: relative;
}

.main-frame .midd-frame-2-title {
    font-size: 32px;
    font-weight: 700;
}

.main-frame .midd-frame-2-desc {
    padding: 26px 0 50px 0;
    font-size: 15px;
    font-weight: 400;
    color: rgb(118, 118, 118);
}

.main-frame .midd-frame-2-services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.midd-frame-2-services .service {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 310px;
    height: 225px;
    margin-bottom: 20px;
}

.midd-frame-2-services .service img {
    width: 68px;
    height: 68px;
    margin: 26px auto;
}

.midd-frame-2-services .service-title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 12px;
}

.midd-frame-2-services .service-desc {
    font-size: 15px;
    font-weight: 400;
    color: rgb(118, 118, 118);
}

.midd-frame-2-services .service-title-2 {
    margin: 31px 0 22px 0;
    font-size: 18px;
    font-weight: 500;
}

.midd-frame-2-services .service-link {
    font-size: 12px;
    font-weight: 700;
    color: rgb(255, 180, 0);
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 12px;
    font-family: "Roboto", sans-serif;
}




/*--- RIGHT FRAME start-------- */

.main-frame .right-frame {
    position: relative;
    width: 108px;
    height: 1315px;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.main-frame .right-frame-img-contrast {
    margin-top: 50px;
    margin-bottom: 174px;
}

.main-frame .right-frame-img-home {
    width: 65px;
    height: 78px;
    margin-bottom: 43px;
}

.main-frame .right-frame-menu {
    display: flex;
    flex-direction: column;
}

.main-frame .right-frame-menu img {
    width: 40px;
    height: 40px;
    margin-bottom: 43px;
}
.main-frame .right-frame-menu img:last-child {
    margin-bottom: 0;
}